@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Outline text effect */
.outline-text {
  color: transparent;                /* Make the fill transparent */
  -webkit-text-stroke: 1px #255751;  /* For WebKit browsers */         /* Standard property (not widely supported) */
}

